<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">

	<title>Data APIs | Array API Compatibility</title>
	<meta name="description" content="Compatibility tables displaying Array API specification compliance across the PyData array library ecosystem.">

	<meta name="viewport" content="width=device-width,initial-scale=1"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/variables.css">
	<link rel="stylesheet" type="text/css" href="css/global.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/media_queries.css">
	<link rel="stylesheet" type="text/css" href="css/icons.css">
</head>
<body>
	<main class="main">
		{{TABLES}}
	</main>
</body>
</html>
