<section class="compat-legend">
	<h3 class="visually-hidden" id="legend">Legend</h3>

	<p class="compat-legend-tip">Tip: you can click/tap on a cell for more information.</p>

	<dl class="compat-legend-items-container">
		<div class="compat-legend-item">
			<dt class="compat-legend-item-dt">
				<span class="compat-supports-yes compat-supports">
					<abbr class="compat-level compat-level-yes icon icon-yes" title="Full support">
						<span class="visually-hidden">Full support</span>
					</abbr>
				</span>
			</dt>
			<dd class="compat-legend-item-dd">Full support</dd>
		</div>

		<div class="compat-legend-item">
			<dt class="compat-legend-item-dt">
				<span class="compat-supports-partial compat-supports">
					<abbr class="compat-level compat-level-partial icon icon-partial" title="Partial support">
						<span class="visually-hidden">Partial support</span>
					</abbr>
				</span>
			</dt>
			<dd class="compat-legend-item-dd">Partial support</dd>
		</div>

		<div class="compat-legend-item">
			<dt class="compat-legend-item-dt">
				<span class="compat-supports-preview compat-supports">
					<abbr class="compat-level compat-level-preview icon icon-preview" title="Preview support">
						<span class="visually-hidden">Preview support</span>
					</abbr>
				</span>
			</dt>
			<dd class="compat-legend-item-dd">Experimental</dd>
		</div>

		<div class="compat-legend-item">
			<dt class="compat-legend-item-dt">
				<span class="compat-supports-no compat-supports">
					<abbr class="compat-level compat-level-no icon icon-no" title="No support">
						<span class="visually-hidden">No support</span>
					</abbr>
				</span>
			</dt>
			<dd class="compat-legend-item-dd">No support</dd>
		</div>
	</dl>

</section>
