<td class="compat-support compat-library-{{LOWERCASE_NAME}} compat-supports-no compat-no-has-history" aria-expanded="false">
	<button type="button" title="Toggle history">
		<div class="compat-cell-text-wrapper">
			<div class="compat-cell-icons">
				<span class="icon-wrap">
					<abbr class="compat-level-no icon icon-no" title="No support">
						<span class="compat-support-level">No support</span>
					</abbr>
				</span>
			</div>
			<div class="compat-cell-text-copy">
				<span class="compat-library-name">{{NAME}}</span>
				<span class="compat-version-label">No</span>
			</div>
		</div>
		<span class="offscreen">Toggle history</span>
	</button>
</td>
