<td class="compat-support compat-library-{{LOWERCASE_NAME}} compat-supports-unknown compat-has-history" data-history="{{HISTORY}}" aria-expanded="false">
	<button type="button" data-live="false" title="Toggle history">
		<div class="compat-cell-text-wrapper">
			<div class="compat-cell-icons">
				<span class="icon-wrap">
					<abbr class="compat-level-unknown icon icon-unknown" title="Unknown support">
						<span class="compat-support-level">Unknown support</span>
					</abbr>
				</span>
			</div>
			<div class="compat-cell-text-copy">
				<span class="compat-library-name">{{NAME}}</span>
			</div>
		</div>
		<span class="offscreen">Toggle history</span>
	</button>
</td>
