<td class="compat-support compat-library-{{LOWERCASE_NAME}} compat-supports-preview compat-no-has-history" aria-expanded="false">
	<button type="button" title="Toggle history">
		<div class="compat-cell-text-wrapper">
			<div class="compat-cell-icons">
				<span class="icon-wrap">
					<abbr class="compat-level-preview icon icon-preview" title="Preview support">
						<span class="compat-support-level">Preview support</span>
					</abbr>
				</span>
			</div>
			<div class="compat-cell-text-copy">
				<span class="compat-library-name">{{NAME}}</span>
				<span class="compat-version-label" title="TODO: add release date">{{RELEASE}}</span>
			</div>
		</div>
		<span class="offscreen">Toggle history</span>
	</button>
</td>
