<td class="compat-support compat-library-{{LOWECASE_NAME}} compat-supports-yes compat-has-history" data-history="{{HISTORY}}" aria-expanded="false">
	<button type="button" data-live="false" title="Toggle history">
		<div class="compat-cell-text-wrapper">
			<div class="compat-cell-icons">
				<span class="icon-wrap">
					<abbr class="compat-level-yes icon icon-yes" title="Full support">
						<span class="compat-support-level">Full support</span>
					</abbr>
				</span>
			</div>
			<div class="compat-cell-text-copy">
				<span class="compat-library-name">{{NAME}}</span>
				<span class="compat-version-label" title="Released {{RELEASE_DATE}}">{{RELEASE}}</span>
			</div>
		</div>
		<span class="offscreen">Toggle history</span>
	</button>
</td>
