/* TODO:  license header */

:root {
	--background-primary: #ffffff;
	--background-secondary: #f9f9fb;
	--background-tertiary: #ffffff;

	--border-primary: #cdcdcd;
	--border-secondary: #cdcdcd;

	--text-primary: #1b1b1b;
	--text-secondary: #4e4e4e;
	--text-primary-red: #d30038;
	--text-primary-green: #007936;
    --text-primary-blue: #0069c2;
    --text-primary-yellow: #746a00;

    --text-link: #0069c2;
    --text-inactive: #9e9e9ea6;

    --accent-primary: #0085f2;
    --accent-secondary: #0085f2;
    --accent-tertiary: rgba(0,133,242,.1);

	--icon-primary: #696969;
	--icon-secondary: #b3b3b3;
	--icon-information: #0085f2;
	--icon-warning: #ff2a51;
	--icon-critical: #d30038;
	--icon-success: #007936;

	--code-background-inline: #f2f1f1;

	--elem-radius: 0.25rem;

	--icon-size: 2rem;

	--font-fallback: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	--font-body: Inter,var(--font-fallback);
	--font-heading: Inter,var(--font-fallback);
	--font-code: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;

	--font-body-strong-weight: 600;

	--base-font-size: 100%;
	--type-smaller-font-size: 0.833rem;

	--base-line-height: 1.2;
	--intermediate-line-height: 1.75;
	--font-content-line-height: 1.75;
	--heading-line-height: var(--base-line-height);

    --heading-letter-spacing: -0.031rem;

	--type-heading-h1-font-size: 2.488rem;
    --type-heading-h2-font-size: 2.074rem;
    --type-heading-h3-font-size: 1.728rem;
    --type-heading-h4-font-size: 1.44rem;
    --type-heading-h5-font-size: 1.2rem;
}

@media screen and (min-width: 769px) {
	:root {
		--type-heading-h1: 600 var(--type-heading-h1-font-size) /var(--heading-line-height) var(--font-heading);
	    --type-heading-h2: 500 var(--type-heading-h2-font-size) /var(--heading-line-height) var(--font-heading);
	    --type-heading-h3: 300 var(--type-heading-h3-font-size) /var(--heading-line-height) var(--font-heading);
	    --type-heading-h4: 400 var(--type-heading-h4-font-size) /var(--heading-line-height) var(--font-heading);
	}
}

/* Box sizing rules */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
	display: block;
	scroll-behavior: smooth;
}

section {
	display: block;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-family: var(--font-body);
    font-size: 100%;
    font-size: var(--base-font-size);

    line-height: 1.75;
    line-height: var(--font-content-line-height);
    text-rendering: optimizeSpeed;

    accent-color: var(--accent-primary);
    background-color: var(--background-primary);
    color: var(--text-primary);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font: var(--type-heading-h2);
    margin: 4rem 0 0.5rem;
}

h1,
h2,
h3 {
    letter-spacing: var(--heading-letter-spacing);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
	color: var(--text-link);
}

a:not(.button) {
	color: var(--text-link);
}

a:focus,
a:hover {
	text-decoration: underline;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

table {
    border: 1px solid var(--border-primary);
    border-collapse: collapse;
    width: 100%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table td, table th {
    border: 1px solid var(--border-primary);
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
}

table th {
    background: var(--background-tertiary);
    font-weight: var(--font-body-strong-weight);
    line-height: 1.5;
    text-align: left;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

code {
    background: var(--code-background-inline);
    padding: 0.125rem 0.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



/* CLASSES */

.main {
	display: block;

	width: 100%;
	max-width: 900px;

	margin: 0 auto;
}

.icon {
    display: inline-block;

    flex-shrink: 0;
    vertical-align: middle;

    background-color: var(--icon-primary);

    -webkit-mask-position: center;
    mask-position: center;

  	-webkit-mask-repeat: no-repeat;
  	mask-repeat: no-repeat;

    height: 2rem;
    height: var(--icon-size);
    width: 2rem;
    width: var(--icon-size);

    color: var(--icon-primary);
}

.button,
button {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
}

.compat-table {
    border: 1px solid var(--border-primary);
    border-collapse: separate;
    border-radius: var(--elem-radius);
    border-spacing: 0;
    margin: 1rem 0;
    width: 100%;
}

.compat-table tbody tr {
    height: 3rem;
}

.compat-table td, .compat-table th {
    border-width: 1px;
    border-bottom: 1px solid var(--border-secondary);
    border-left: 1px solid var(--border-secondary);
    border-right: 0 solid var(--border-secondary);
    border-top: 0 solid var(--border-secondary);
    font-weight: 500;
    padding: 0;
}

.compat-table th {
    background: var(--background-tertiary);
    padding: 0.4rem;
    vertical-align: bottom;
}

.compat-table tbody tr th {
    border-left-width: 0;
    vertical-align: middle;
}

.compat-libraries td {
    border-width: 0 0 1px;
}

.compat-libraries th {
    text-align: center;
}

.compat-table-row-header {
    align-items: baseline;
    display: inline-flex;
    width: 100%;
}

.compat-table-row-header code {
    overflow: hidden;
}

.compat-head-txt-label {
    position: relative;
    left: calc(50% - 0.5rem);

    padding-top: 0.5rem;

    line-height: 1;

    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

    white-space: nowrap;

    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.compat-head-icon-symbol {
    margin-bottom: 0.3rem;
}

.code-example,
code,
pre {
    border-radius: var(--elem-radius);
    font-family: var(--font-code);
    font-size: var(--type-smaller-font-size);
}

.compat-support {
    text-align: center;
    vertical-align: middle;
}

.compat-table tbody .compat-support {
    vertical-align: top;
}

.compat-table tbody .compat-support button {
	cursor: pointer;
	width: 100%;
}

.compat-table tbody .compat-support.compat-supports-no > button > span {
	color: var(--text-primary-red);
}

.compat-table tbody .compat-support.compat-supports-partial > button > span {
	color: var(--text-primary-yellow);
}

.compat-table tbody .compat-support.compat-supports-preview > button > span {
	color: var(--text-primary-blue);
}

.compat-table tbody .compat-support.compat-supports-yes > button > span {
	color: var(--text-primary-green);
}

.compat-table tbody .compat-history td {
	border-left-width: 0;
}

.compat-table .compat-supports {
	margin-bottom: 1rem;
}

.compat-table .compat-supports .icon-wrap {
	background: var(--background-primary);
}

.compat-table .compat-supports.compat-supports-removed-partial .compat-cell-text-copy {
 	color: var(--text-primary-yellow);
}

.compat-table .icon-wrap .compat-support-level {
	clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
}

.compat-table .compat-support > button > .icon-wrap {
	display: block;
}

.compat-table .compat-support .icon.icon-removed-partial {
	background-color: var(--icon-critical);

	-webkit-mask-image: url("../img/no.svg");
	mask-image: url("../img/no.svg");
}

.compat-table .compat-support.compat-supports-removed-partial .compat-cell-text-copy {
	color: var(--text-primary-red);
}

.compat-table .compat-feature-depth-2 {
	border-left-width: 8px;
}

.compat-table .compat-feature-depth-3 {
	border-left-width: 16px;
}

.compat-level-no {
	background-color: var(--icon-critical);
}

.compat-level-preview {
	background-color: var(--icon-information);
}

.compat-legend {
	padding: 0 2.5rem;
}

.compat-legend-items-container {
	display: flex;
	flex-wrap: wrap;
	font-size: var(--type-smaller-font-size);
	gap: 1.5rem;
	margin-bottom: 2rem;
}

.compat-legend-tip {
	font-size: var(--type-smaller-font-size);
	font-style: italic;
	margin-bottom: 1rem;
	margin-top: 0;
}

.compat-legend-item {
	align-items: center;
	display: flex;
	gap: 0.5rem;
}

.compat-legend-item-dt {
	display: flex;
}
.compat-legend-item-dt .icon {
    background-color: var(--icon-primary);
}


.compat-libraries th {
	text-align: center;
}

.compat-libraries td {
    border-width: 0 0 1px;
}

.compat-notes-list {
	margin: 0.5rem 0;
	position: relative;
	text-align: left;
	width: 100%;
}

.compat-notes-list:before {
	background: var(--border-primary);
	content: "";
	height: calc(100% - 0.25rem);
	left: 7px;
	margin-top: 0.25rem;
	position: absolute;
	width: 2px;
	z-index: -1;
}

/* Cover the last bit of the grey line above. */
.compat-notes-list .compat-notes-wrapper:last-child dd:last-child {
    position: relative;
}

.compat-notes-list .compat-notes-wrapper:last-child dd:last-child:before {
	background: var(--background-primary);
	bottom: 0;
	content: "";
	height: calc(100% - 6px);
	left: 7px;
	position: absolute;
	width: 2px;
	z-index: -1;
}

.compat-notes-list .compat-level-yes.icon.icon-yes {
	background-color: var(--icon-success);

	-webkit-mask-image: url("../img/yes.svg"); /* FIXME: yes-circle.svg */
	mask-image: url("../img/yes.svg"); /* FIXME: yes-circle.svg */
}

.compat-notes-list .compat-supports-dd .icon {
	background: var(--border-primary);
	border: 3px solid var(--background-primary);
	border-radius: 50%;
	mask-image: none;
}

.compat-notes-list .compat-version-label {
	display: inline;
}

.compat-notes-list abbr {
	margin-right: 4px;
}

.compat-notes-list dd {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
}

.compat-notes-list dd:last-child {
	margin-bottom: 2rem;
}

.compat-notes-wrapper {
	color: var(--text-primary);
	margin-bottom: 1rem;
}

.compat-notes-wrapper:last-child {
	margin-bottom: 0;
}

dl.compat-notes-list dt.compat-supports {
    margin-top: 1rem;
}

dl.compat-notes-list dt.compat-supports:first-child {
 	margin-top: 0;
}

dl.compat-notes-list dd.compat-supports-dd {
    margin-bottom: 1rem;
}

dl.compat-notes-list dd.compat-supports-dd :last-child {
 	margin-bottom: 0;
}

.visually-hidden,
.offscreen,
.only-icon span {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}

.compat-table-row-header code {
	overflow: hidden;
}

.compat-table-row-header .left-side,
.compat-table-row-header .right-side {
	overflow: hidden;
	white-space: pre;
}

/* Can only flex-shrink and not flex-grow ie the "slider" in a sliding glass door */
.compat-table-row-header .left-side {
	flex: 0 1 auto;
	text-overflow: ellipsis;
}

/* Can flex-grow and not flex-shrink as its the stationary portion */
.compat-table-row-header .right-side {
	flex: 1 0 auto;
}

.compat-table-row-header .compat-icons {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.compat-table-row-header .compat-icons .icon {
    background-color: var(--icon-secondary);
}

.compat-table-row-header .compat-icons .icon:hover {
	background-color: var(--icon-primary);
}

.main .compat-legend dd,
.main .compat-legend dt {
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
}

.main .compat-legend .compat-supports-dd {
	margin: 0;
}

.compat-cell-text-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
@media screen and (min-width: 769px) {
	.compat-cell-text-wrapper {
		align-items: center;
		flex-direction: column;
	}
}

.compat-timeline-cell-text-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.compat-cell-text-copy {
	color: var(--text-primary);
	display: flex;
	gap: 0.5rem;
}

.compat-supports-yes .compat-cell-text-copy {
	color: var(--text-primary-green);
}

.compat-supports-no .compat-cell-text-copy {
	color: var(--text-primary-red);
}

.compat-supports-partial .compat-cell-text-copy {
	color: var(--text-primary-yellow);
}

.compat-cell-icons {
	display: flex;
	gap: 0.5rem;
}

.compat-table .compat-support-level,
.compat-table .compat-library-name {
	display: none;
}




/* MEDIA QUERIES */

@media screen and (min-width: 769px) {
	tbody tr:last-child th,
	tbody tr:last-child td {
        border-bottom-width: 0;
	}
}

@media screen and (min-width: 1200px) {
	.table-container {
    	margin: 0;
    	width: 100%;
	}

	.table-container-inner {
	    padding: 0;
	}
}

@media screen and (min-width: 426px) {
	.table-container {
    	margin: 0 -3rem;
    	overflow: auto;
    	width: 100vw;
	}

	.table-container-inner {
	    min-width: -webkit-max-content;
	    min-width: max-content;
	    padding: 0 3rem;
	    position: relative;
	}

	.table-container-inner:after {
	    bottom: 0;
	    content: "";
	    height: 10px;
	    position: absolute;
	    right: 0;
	    width: 10px;
	}

	.compat-table td, .compat-table th {
	    background: inherit;
	    padding: 0.25rem;
	    width: 2rem;
	}

	.compat-table thead {
	    display: table-header-group;
	}

	.compat-table td.compat-support {
	    padding: 0;
	}

	.compat-has-history {
	    cursor: pointer;
	}

	.compat-table td.compat-support > button {
	    padding: 0.25rem;
	}
}

@media screen and (min-width: 769px) {
	.table-container {
   		width: calc(100% + 6rem);
	}

	.compat-table td, .compat-table td code, .compat-table th, .compat-table th code {
	    font-size: var(--type-smaller-font-size);
	}

	.compat-table td, .compat-table th {
	    padding: 0.4rem;
	}

	.compat-table td {
	    height: 2rem;
	}

	.compat-table tbody th {
		width: 20%;
	}

    .compat-table td.compat-support > button {
    	padding: 0.5rem 0.25rem;
    }

	.compat-cell-icons {
		display: block;
	}
}



/* ICONS */

.icon.icon-yes {
	/*-webkit-mask-image: url("../img/yes.svg");
	mask-image: url("../img/yes.svg");*/
	background-color: transparent;
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem 1rem;
}

.icon.icon-no {
	/*-webkit-mask-image: url("../img/no.svg");
	mask-image: url("../img/no.svg");*/
	background-color: transparent;
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem 1rem;
}

.icon.icon-preview {
	/*-webkit-mask-image: url("../img/preview.svg");
	mask-image: url("../img/preview.svg");*/
	background-color: transparent;
    background-image: url("../img/preview.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.1rem 1.1rem;
}

.icon.icon-partial {
	/*-webkit-mask-image: url("../img/partial.svg");
	mask-image: url("../img/partial.svg");*/
	background-color: transparent;
    background-image: url("../img/partial.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem 1rem;
}

.icon.icon-unknown {
	/*-webkit-mask-image: url("../img/unknown.svg");
	mask-image: url("../img/unknown.svg");*/
	background-color: transparent;
    background-image: url("../img/unknown.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem 1rem;
}

.icon.icon-cupy {
	background-color: transparent;
    background-image: url("../img/cupy_logo_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem 1.5rem;
}

.icon.icon-dask {
    background-color: transparent;
    background-image: url("../img/dask_logo_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon.icon-jax {
    background-color: transparent;
    background-image: url("../img/jax_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon.icon-mxnet {
    background-color: transparent;
    background-image: url("../img/mxnet_logo_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem 1.5rem;
}

.icon.icon-numpy {
    background-color: transparent;
    background-image: url("../img/numpy_logo_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon.icon-pytorch {
    background-color: transparent;
    background-image: url("../img/pytorch_logo_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon.icon-tensorflow {
    background-color: transparent;
    background-image: url("../img/tensorflow_logo_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
